<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Conner's Gulp and Nunjucks Test</title>
	<link rel="stylesheet" href="style.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">

</head>

<body>

	<div id="pageWrap">

		{% include "_navbar.html" ignore missing %}

			{% block content %} 

			{% endblock %}

		<!-- <script id="dsq-count-scr" src="//cwellswebsite.disqus.com/count.js" async></script> -->
	</div>

</body>

<footer>

	Copyright &copy Conner Wells, 2016. All rights reserved.
	
</footer>


</html>