<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Conner's Gulp and Nunjucks Test</title>
	<link rel="stylesheet" href="style.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">

</head>

<body>

{% include "_banner.html" ignore missing %}

{% include "_navbar.html" ignore missing %}

<div id="pageWrap">

	{% block content %} 

	{% endblock %}

</div>

</body>

<!-- {% include "_footer.html" ignore missing %}
 -->
</html>