{% block content %}


<div class="collapsedCard"> 
	<ul id="profileList">
		<li><img class="sm-profileImage" src="./images/meImages/cwells1.png"></li>
		<li><h2>Conner Wells @</h2></li>
		<li class="logo"><a href="http://www.connectivedx.com"><img src="./images/icons/cdx-logo.png"></a></li>
		<li class="end"><button class="expButton"><h1>&#8942</h1></button></li>

	</ul>

	<div class ="cardContent">

	 		{% import '_profileCard.html' as profileCard %}

			{{profileCard.makeProfile('', './images/meImages/cwells1.png', '', '')}}

			{% include 'modules/_findMeWidget.html' %}

	</div>

	<script src="./js/expandCard.js"></script>

</div>

{% endblock %}