{% block content %}


<div class="expMenu"> 
	<ul id="profileList">
		<li><img class="sm-profileImage" src="./images/meImages/cwells1.png"></li>
		<li><h2>Conner Wells @</h2></li>
		<li class="logo"><a href="http://www.connectivedx.com"><img src="./images/icons/cdx-logo.png"></a></li>
		<li class="end"><button class="expButton"><h1>&#8942</h1></button></li>

	</ul>

	<div class ="cardContent">

		<div class="leftCardContent">

	 		{% import 'macros/_profileCard.html' as profileCard %}

			{{profileCard.makeProfile('', './images/meImages/cwells1.png', '', '')}}

			{% include '_findMeWidget.html' %}

		</div>

		<div class="menu">

			<h2>About:</h2>

			<p>Conner Wells is a to-be Senior attending Linfield College in McMinnvile, OR. He's pursuing a degree in Computer Science, and interning at Connective DX in Portland, OR for the Summer of 2016.</p>

		</div>

	</div>

	<script src="./js/expandCard.js"></script>

</div>

{% endblock %}