{% block content %}

<div class="findmeCard">
	<p>find me on:</p>
		<ul class="logo">
			<li class="first"><a href="https://www.github.com/CSKingMartin"><img src="./images/icons/git-logo.png" class="logoImg"></a></li>
			<li><a href="https://www.last.fm/user/CSKingMartin"><img src="./images/icons/lastfm-logo.png" class="logoImg"></a></li>
			<li class="last"><a href="https://www.linkedin.com/in/conner-wells-924a83113"><img src="./images/icons/linkedin.png" class="logoImg"></a></li>
		</ul>

</div>

{% endblock %}