{% block content %}

<div class="sidebar">

	<div class="profile">

		<div class="smallImage">
			<img src="./images/meImages/cwells1.png">
		</div>

		<div class="imageWrapper">

			<button id="left" class="hoverButton selectArrow left">
			</button>

			<div class="profileImage">
				<img id="pimg" src="./images/meImages/cwells1.png"/>

			</div>

			<button id="right" class="hoverButton selectArrow right">
			</button>

		</div>

		<h2 id="name">Conner Wells</h2>
		<h4 id="text1">an intern for</h4>
		<a href="https://www.connectivedx.com"><img src="./images/cdx-logo.png"></a>

		<script src="./js/profileImg.js"></script>

	</div>

	<ul class="logo">
		<li><a href="https://www.github.com/CSKingMartin"><img src="./images/icons/github-logo.png" class="logoImg"></a></li>
		<li><a href="https://www.last.fm/user/CSKingMartin"><img src="./images/icons/lastfm-logo.png" class="logoImg"></a></li>
		<li class="last"><a href="https://www.linkedin.com/in/conner-wells-924a83113"><img src="./images/icons/linkedin.png" class="logoImg"></a></li>
	</ul>

	<h3>About</h3>

	<p>Conner Wells is a to-be Senior attending Linfield College in McMinnvile, OR. He's pursuing a degree in Computer Science. As a part of his education, Conner is interning at Connective DX in Portland, OR through the summer. This website is a direct result of his experiences and learned techniques he has learned from his time at Connective DX.</p>


</div>





{% endblock %}