nav {
	height: $navfootHeight;
	position: relative;
	top:0;
	left: 0;
	width: 100%;
	margin-bottom: 20px;
	opacity: 0.8;


	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	li {
		display: inline;
		background-color: $primColor;
		margin: 0;
		padding: 0;
	
		float: left;

		a {
			padding: 10px;
			display: block;
			color: white;
			text-decoration: none;
			background-color: $primColor;
			text-align: center;
			-webkit-transition: background-color .5s ease-in,
				color .5s;
			transition: background-color .5s, color .5s ease-in;


			&:hover{
				background-color: white;
				color: $primColor;

			}
		}
	}
}