{% extends "base.html" %}

{% block content %}
	
<div class="contactCard">

		<div class="contactBlurb">

			<h1>Houston: We have contact!</h1>


			<p>Want to contact me? Please feel free to fill out the form and send me a message!</p>
			<br>
			<p>You can also find me at any of the sites below:</p>

			{% include "_findMeWidget.html" ignore missing %}

		</div>

		<div class="contactForm">

			<form action="https://formspree.io/cwells@linfield.edu" method="POST">

		    	<label for="name">What is your name?</label><input type="text" name="name" id="name">
			   		<br>
				<label for="email">What is your email address?</label><input type="email" name="_replyto" id="email">
					<br>
					<br>
			    <label for="text">Message Content:</label><textarea name="body" id="text"></textarea>
					<br>
			    <input type="submit" value="Send">
			    <input type="hidden" name="_next" value="http://cskingmartin.github.io/cwellsWebsite/contact.html">

			</form>
		</div>
</div>

{% endblock %}