{% extends "base.html" %}

{% block content %}

<div class="sidebar">
	{% import 'modules/_profileCard.html' as profileCard %}

	{{profileCard.makeProfile('Conner Wells', './images/meImages/cwells1.png', 'an intern at', '', './images/icons/cdx-logo.png')}}

	{% include '_findMeWidget.html' %}
	
	<p>Conner Wells is a to-be Senior attending Linfield College in McMinnvile, OR. He's pursuing a degree in Computer Science, and interning at Connective DX in Portland, OR for the Summer of 2016.</p>

</div>	

	{% include "_expMenu-profile.html" ignore missing %}	

<div class="menu">

	<div class="menuHeader">
		<h1>Houston: We have contact!</h1>
	</div>

	<div class="body">

		<form action="https://formspree.io/cwells@linfield.edu"
		      method="POST">
		    <p>What is your name?</p><input type="text" name="name">
		    <br>
		    <p>Where should I email back?</p><input type="email" name="_replyto">
		    <br>
		    <p>Message content:</p><textarea name="body"></textarea>
		    <br>
		    <input type="submit" value="Send">
		    <input type="hidden" name="_next" value="http://cskingmartin.github.io/cwellsWebsite/contact.html">
		</form>

	</div>

</div>

{% endblock %}