{% extends "base.html" %}

{% block content %}
	
<div class="sidebar">
	{% import 'macros/_profileCard.html' as profileCard %}

	{{profileCard.makeProfile('Conner Wells', './images/meImages/cwells1.png', 'an intern at', '', './images/icons/cdx-logo.png')}}

	{% include '_findMeWidget.html' %}
	
	<p>Conner Wells is a to-be Senior attending Linfield College in McMinnvile, OR. He's pursuing a degree in Computer Science, and interning at Connective DX in Portland, OR for the Summer of 2016.</p>

</div>	

	{% include "_expMenu-profile.html" ignore missing %}	

<div class="menu">

	<div class="menuHeader">
		<h1>Welcome!</h1>

		<p class="secondary">"We hope you enjoy your stay. It's good to have you with us, even if it's just for the day." -- The Killers
		<br><br>
		Why would one have a personal website? Why would one not? What I have on this site is here to share -- so please look around and explore. You may find something new.
		</p>
		<br><br>
		<p>There is much to be added here, and this website is very incomplete! If you find a link that is broken, or leads nowhere, fret not! It will soon be resolved.</p>

	</div>

	<div class="bouncer is-bouncing">
		<img src="http://loremflickr.com/80/80" class="is-bouncing" />
	</div>

	<!-- <div class="card-bouncer is-hopping">
		<img src="http://loremflickr.com/80/80" />
	</div> -->
	
</div>


	
{% endblock %}