{% extends "base.html" %}

{% block content %}
	
<div class="sidebar">
	{% import '_profileCard.html' as profileCard %}

	{{profileCard.makeProfile('Conner Wells', './images/meImages/cwells1.png', 'an intern at', '', './images/icons/cdx-logo.png')}}

	{% include 'modules/_findMeWidget.html' %}
	
	<p>Conner Wells is a to-be Senior attending Linfield College in McMinnvile, OR. He's pursuing a degree in Computer Science, and interning at Connective DX in Portland, OR for the Summer of 2016.</p>

</div>	

	{% include "_expMenu-profile.html" ignore missing %}	

<div class="menu">

	<div class="menuHeader">
		<h1>Welcome!</h1>

		<p class="secondary">"We hope you enjoy your stay. It's good to have you with us, even if it's just for the day." -- The Killers
		<br><br>
		Why would one have a personal website? Why would one not? What I have on this site is here to share -- so please look around and explore. You may find something new.
		</p>

	<div class ="menuContent">
		<ul>
			<li>
				<div class="smallCard opt-btn-dual">
					<a href="./news.html">
						<div class="button">	
							<h1>Read a Blog!</h1>
						</div>
					</a>
					<p class="secText">OR</p>

					<a href="./about.html">
						<h1 class="secOption">Learn more!</h1>
					</a>
				</div>
			</li>
			
			<li style="float: right">
				<div class="smallCard opt-btn-dual">
					<a href="resume.html">
						<div class="button">
							<h1>View my Resume</h1>
						</div>
					</a>
					<p class="secText">OR</p>
					<a href="contact.html">
						<h1 class="secOption">Contact me!</h1>
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>


	
{% endblock %}