{% extends "layout.html" %}

{% block content %}
	
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<div id="content">
				<h2>Content on the left!</h2>
				<p>This is now mainly a test for flexbox grid. I want to see how the text wraps and changes as the size of the page also changes.</p>

				<p>Fill the space, fill the space, fill the space, fill the space, fill the space, fill the space.</p>

			</div>
		</div>

		<div class="col-xs-12 col-md-9">
			<div id="content">
				<h2>Content on the right!</h2>
				<p>Fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space, fill the space.</p>
			</div>
		</div>
	</div>
	
{% endblock %}