{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-lg-2 col-xs-0">
		<div id="content" style="background-image: url(../images/greenContent.jpg)">

			<ul style="list-style: none; position: center;">
				<li><button class="button" aValue = "1">Article 1</button></li>
				<li><button class="button" aValue = "2">Article 2</button></li>
				<li><button class="button" aValue = "3">Article 3</button></li>
				<li><button class="button" aValue = "4">Article 4</button></li>
			</ul>
			

			<script>
			$(".button").click(function(){
				var id = $(this).attr('aValue');
			    $.ajax({ url: './articles/_article' + id + '.html',
			        success: function(str) {
			        	//alert(str);
			            $("#mainContent").html(str);
			        },
			        error: function(err) {
			            alert("I'm sorry, that article doesn't exist!");
			        }
				});
			});
			</script>

		</div>
	</div>
	<div class="col-lg-10 col-xs-12">
			
		<div id="content">
			<p id= "mainContent">

				Press a button on the sidebar to select a post to read!

			</p>

		</div>		
	</div>
</div>

{% endblock %}