{% extends "base.html" %}

{% block content %}

<div class="sidebar" style ="padding: 0; width: 280px">
	
	<div class="headBox">
		<p style="margin-top: 0">Articles:</p>
	</div>

	{% for article in articles %}
	
	<button class="clear-btn" aValue = "{{article.index}}" onclick="location.href='#article{{article.index}}'">

			{{article.title}}

			<p class= "subText">{{article.postDate}}</p>

		
		</button>

	{% endfor %}

	<script src="./js/getArticle.js"></script>
	

</div>

<div class="expMenu">
	<ul>
	<li><h2>Articles</h2>
	<li class="end"><button class="expButton"><h1>&#8942</h1></button></li>
	</ul>

	<div class ="cardContent">

		{% for article in articles %}
		<button class="clear-btn" aValue = "{{article.index}}" onclick="location.href='#!article{{article.index}}'">

			{{article.title}}

			<p class= "subText">{{article.postDate}}</p>

		
		</button>

		{% endfor %}

	</div>

</div>
<script src="./js/expandCard.js"></script>
	
	
<div class="menu">
	<p id= "mainContent">

		Press a button on the sidebar to select a post to read!

	</p>

	<div id="disqus_thread"></div>
		<script>
		    /**
		     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
		     */
		    
		    var disqus_config = function () {
		        this.page.url = "";  
		        // Replace PAGE_URL with your page's canonical URL variable
		        this.page.identifier = ""; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		    };
		    
		    (function() {  // DON'T EDIT BELOW THIS LINE
		        var d = document, s = d.createElement('script');
		        
		        s.src = '//cwellswebsite.disqus.com/embed.js';
		        
		        s.setAttribute('data-timestamp', +new Date());
		        (d.head || d.body).appendChild(s);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	</div>

{% endblock %}