{% extends "base.html" %}
	
{% block content %}
<div class="menu" style="margin-left: 10px">
	<div id="heading">
		<h1>Conner Wells</h1>
		<p>712 Victor St. Enumclaw, WA 98022</p>
		<p>253-249-5824, cwells@linfield.edu</p>
	</div>

	<div id="section">
		<h2>OBJECTIVE:</h2>
		<hr>

		<p>To make a difference in business communities through 
		the Computer Science Industry, and to gain experience to make myself valued by professionals.</p>
		<hr>

		<h2>EXPERIENCE:</h2>
		<hr>
		<div>
	    <div align="center" class="float-left">Fall 2013 - Present</div>
	    <div align="center" class="float-left">Linfield Office of Admissions</div>
	    <div align="center" class="float-left">McMinnville, OR</div>
		</div>

		<h3>Operations Technician</h3>

		<ul>
			<li>Performs Data Entry on Colleague UI System</li>
			<li>Take Mail to and from Campus Post Office</li>
			<li>Processes Applications for Review</li>
		</ul>
		<hr>

		<div>
		<div align="center" class="float-left">Spring 2014 - Present</div>
	    <div align="center" class="float-left">Linfield Office of Residence Life</div>
	    <div align="center" class="float-left">McMinnville, OR</div>
		</div>
		<h3>Residence Assistant</h3>
		<ul>
			<li>Organizes cultural, diverse, and objective programming</li>
			<li>Mediates Conflict</li>
			<li>Enforces Linfield Campus Policy</li>
		</ul>

		<hr>

		<h2>EDUCATION:</h2>
		<hr>
		<div>
	    <div align="center" class="float-left">Fall 2013 - June 2017</div>
	    <div align="center" class="float-left">Linfield College</div>
	    <div align="center" class="float-left">McMinnville, OR</div>
		</div>
		<h3>Bachelor of Arts in Computer Science</h3>
		<ul>
			<li>Minors in Political Science and Mathematics</li>
		</ul>
		<hr>

		<h2>REFERENCES:</h2>
		<hr>

		<p>References are available upon request</p>

	</div>
</div>

	{% endblock %}
