$primColor: #349155;
$secColor: #84ba9f;
$backColor: #F5F5F5;
$font: Ubuntu;
$navfootHeight: 30px;

@import "vendor/flex-grid", 
"partials/banner", 
"partials/navbar",
"partials/footer",
"modules/button",
"modules/fullProfileCard",
"modules/colProfileCard";


body {
	height: 100%;
	font-size: 100%;
	font-family: $font;
	position: relative;
	background-color: $backColor;
}

#pageWrap {
	max-width: 1300px;
	height: 100%;
	margin: 0 auto; //this is centering the div class
	position: relative;

	//border: 2px solid blue;
}

.menu {
	margin: 10px;
	padding: 20px;
	margin-left: 300px;
	width: auto;
	border: 2px solid $secColor;
	min-height: 600px;
	background-color: white;
	box-sizing: border-box;
	position: relative;

	.menuHeader {
		margin: 20px;
		p{
			//text-align: center;
			font-size: 14pt;
		}
	}

	.menuContent {
		margin: 20px;
		position: relative;

		ul {
			padding: 20px;
			list-style: none;
			display: inline;
			width: 100%;

			li {
				float: left;
				margin: 20px;
				width: 25%;			
			}
		}
	}

	

	
}



@media screen and (max-width:1024px) {
	.menu {
		margin-left: 10px;
	}
}