$primColor: #349155;
$secColor: #84ba9f;
$font: Tahoma;
$navfootHeight: 30px;

@import "vendor/flex-grid", 
"partials/banner", 
"partials/navbar",
"partials/footer",
"modules/button";


body {
	height: 100%;
	font-size: 100%;
	font-family: Tahoma;
}



#aside {
	width: 200px;
	float: left;
	margin-top: 5px;
	height: 100%;
	bottom: 0;
	background-color: $primColor;
}

#content {
	text-align: left;
	padding: 20px;
	margin: 10px;
	border-radius: 5px;
	background-color: $secColor;
}

#content-main {
	@extend #content;
	min-height: 300px;

	h1{
		font-size: 35pt;
	}

	p{
		font-size: 14pt;
	}
}

footer {
	position: fixed;
	height: $navfootHeight;
	right: 0;
	bottom: 0;
	left: 0;
	
	background-color:$primColor;
    color:white;
    text-align:center;
}