$primColor: #349155;
$secColor: #84ba9f;
$backColor: #F5F5F5;
$font: Ubuntu;
$navfootHeight: 30px;

@import "partials/banner", 
"partials/navbar",
"partials/footer",
"modules/opt-btn",
"modules/profileCard",
"modules/colProfileCard",
"modules/clear-btn",
"modules/findMeWidget";


body {
	height: 100%;
	font-size: 1em;
	font-family: $font;
	position: relative;
	background-color: $backColor;
}

#pageWrap {
	max-width: 1300px;
	height: 100%;
	margin: 0 auto; //this is centering the div class
	position: relative;

}

.headBox {
	height: 60px;
	margin-top: 0;
	padding:0;
	width: 100%;
	background-color: $primColor;
	p{
		margin: 0 auto;
		font-size: 14pt;
		padding: 20px;
	}
}

.menu {
	margin: 10px;
	padding: 20px;
	margin-left: 300px;
	width: auto;
	border: 2px solid $secColor;
	min-height: 650px;
	background-color: white;
	box-sizing: border-box;
	position: relative;

	.menuHeader {
		margin: 20px;
		p{
			//text-align: center;
			font-size: 14pt;
		}
	}

	.menuContent {
		margin: 20px;
		position: relative;

		ul {
			padding: 20px;
			list-style: none;
			display: inline;
			width: 100%;

			li {
				float: left;
				margin: 20px;
				width: 40%;			
			}
		}
	}	
}

.sidebar {
	float: left;
	display: inline-block;
	height: auto;
	width: 280px;
	background-color: white;
	border: 2px solid $secColor;
	padding: 0px;
	margin: 10px;
	

	text-align: center;

	//condenses the text in the sidebar. 
	p, h1, h2, h3, h4 {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.smallCard{

	height: 220px;
	width: 180px;
	border: 2px solid $secColor;
	background-color: $backColor;
	position: relative;
	margin: 10%;

	p, h1, h2, h3, h4, h5 {
	text-align: center;
	//margin: 0 auto;
	}
}



@media screen and (max-width:1024px) {
	.menu {
		margin-left: 10px;
	}
	.sidebar {
		display: none;
	}
}
