.contactBlurb{
	width: 500px;
	height: 100%;
	border-right: 2px solid $secColor;
	padding: 20px;
	display: inline-block;
	margin-left: 550px;

	.findmeCard {
		position: relative;
		border: 2px solid $secColor;

	}
}
.contactForm{
	box-sizing: border-box;
	height: 100%;
	//display: inline-block;
	margin-left: 550px;
	padding: 20px;
	

	form {
		width: 100%;
		input[type=text], input[type=email] {
			width: 100%;
		}
		textarea {
			height: 100px;
			width: 100%
		}
	}
	
}