//part of the "find me on" bit
.findmeCard {
	width: 280px;
	height: 80px;
	text-align: center;
	margin: 0 auto;
	//border: 2px solid $secColor;

	p{
		margin-bottom: 0;
	}
}

ul.logo {
	list-style-type: none;

	padding: 0;
	margin-top: 3px;
	width: 280px;

	float: none;

	height: 30px;
	

	li{
		
		padding: 5px;
		border-right: solid black 1px;
		margin: 0;
		display: inline-block;
		float: none;
		&.first {
			margin-left: auto;
		}

		&.last {
			border-right: none;
			margin-right: auto;
		}
	}
}

//also a part of the "find me on" bit. --> make this a more specific div
.logoImg {
	max-width: 75px;
	height: 20px;
}