.sidebar {
	float: left;
	display: inline-block;
	height: auto;
	width: 240px;
	background-color: white;
	border: 2px solid $secColor;
	padding: 20px;
	margin: 10px;
	

	text-align: center;

	p, h1, h2, h3, h4 {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	h3 {
		color: $primColor;
	}

}
.profile {
	width: auto;
	height: auto;
	margin: auto;
	padding: 5px;
	text-align: center;
	background-color: white;
	border-bottom: 2px solid $secColor;
	position: relative;

	.hoverButton {
		height: 50px;
		width: 25px;
		//margin: auto;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: visibility 2s, opacity .5s linear;
		transition: visibility 2s, opacity .5s linear;

		top: 50%;
		margin-top: -25px;

		&.selectArrow {
			&.right {
				right: 0;
			}
			&.left {
				left: 0;
			}
		}
	}
}



ul.logo {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-top: 3px;
	margin-left: -6px;
	width: 260px;
	left: 0;

	li{
		float: left;
		padding: 5px;
		border-right: solid black 1px;

		img {
			width: auto;
			
		}

		&.last {
			border-right: none;
		}
	}
}

.logoImg {
	max-width: 75px;
	height: 20px;
}


.imageWrapper {

	height: 170px;
	width: auto;
	margin-bottom: 0;

	border-radius: 60px;

	//overflow: hidden;

	position: relative;
	

	&:hover .hoverButton {
		visibility: visible;
		opacity: 1;
	}
}

.profileImage {
	width: 175px;
	height: 175px;
	margin: 0 auto;
	border-radius: 90px;
	border: 2px solid $backColor;
	background-color: white;
	position: center;
	//display: inline;
	img{
		border-radius: 90px;
		max-width: 175px;
		max-height: 175px;
	}
}

.selectArrow {
	background-size: 25px 50px;
	background-repeat: no-repeat;
	position: absolute;




	&.right {
		float: right;
		background-image: url(./images/icons/arrowRight.png);
	}

	&.left {
		float: left;
		background-image: url(./images/icons/arrowLeft.png);


	}
}

.smallImage {
	display: none;
	float: left;
	width: 45px;
	height: 45px;
	border-radius: 25px;
	img{
		border-radius: 25px;
		max-width: 45px;
		max-height: 45px;
	}
}

@media screen and (max-width:1024px) {
	.sidebar {
		display: none;
	}
}
