.opt-btn {
	a {
			text-decoration: none;
		}
	.button {

		width: 150px;
		height: 150px;
		border-radius: 75px;
		background-color: $primColor;
		margin: 0 auto;
		margin-top: 5px;
		position: relative;
		z-index: 1;
		border: 2px solid white;
		color: white;

		-webkit-transition: background-color .5s, border .5s ease-in,
		color .5s;
		transition: background-color .5s, color .5s, border .5s ease-in;

		cursor: pointer;

		p, h1, h2, h3, h4, h5{
			transform: rotate(-15deg) skew(-15deg, 0);
			text-align: center;
			margin: 0;
			position: relative;
			border-top: 2px solid black;
			border-bottom: 2px solid black;
			padding: 0;
			-webkit-transition: background-color .5s ease-in,
			color .5s;
			transition: background-color .5s, color .5s ease-in;
			a {
			text-decoration: none;
		}

		}

		&:hover {
			background-color: white;
			border: 2px solid $primColor;
			h1 {
				color: $primColor;	
			}
		}
	}
	.secText{
			font-size: 2.25em;
			top: -25px;
			position: relative;
			z-index: 2;
			margin: 0;
			margin-bottom: 0px;
		}
	.secOption {
			line-height: 0px;
			position: relative;
			top: -15px;
			border-top: 2px solid $secColor;
			border-bottom: 2px solid $secColor;
			text-align: center;
			padding-left: 5px;
			cursor: pointer;
			margin: 0;
			margin-bottom: 10px;
			color: black;


			-webkit-transition: background-color .5s, border .5s ease-in,
			color .5s;
			transition: background-color .5s, color .5s, border .5s ease-in;

			&:hover {
				color: $primColor;
				border-top-color: white;
				border-bottom-color: white;
			}
		}
	&.single {
		.button {
			h1{
				top: 30%;	
				font-size: 2.5em;		
			}
		}

		.secText {
			top: -50px;
		}
		
		.secOption {
			
			font-size: 2.5em;
			//letter-spacing: 10px;
		}
	}
	&.dual {
		.button {
			h1{
				top: 23%;
				font-size: 2.09em;
			}
		}
		

		.secOption {
			font-size: 1.5em;
		}
	}
}

