.smallCard{

	height: 220px;
	width: 180px;
	border: 2px solid $secColor;
	background-color: $backColor;
	position: relative;

	p, h1, h2, h3, h4, h5 {
	text-align: center;
	margin: 0 auto;

	}

	&.opt-btn-dual{

		a{
			text-decoration: none;
		}
		.button {
			width: 150px;
			height: 150px;
			border-radius: 75px;
			background-color: $primColor;
			margin: 0 auto;
			margin-top: 5px;
			position: relative;
			z-index: 1;
			border: 2px solid white;
			color: white;

			-webkit-transition: background-color .5s, border .5s ease-in,
			color .5s;
			transition: background-color .5s, color .5s, border .5s ease-in;

			cursor: pointer;

			p, h1, h2, h3, h4, h5{
				top: 23%;
				transform: rotate(-15deg) skew(-15deg, 0);
				text-align: center;
				margin: 0;
				position: relative;
				border-top: 2px solid black;
				border-bottom: 2px solid black;
				padding: 0;
				padding-bottom: 5px;
				font-size: 25pt;
				-webkit-transition: background-color .5s ease-in,
				color .5s;
				transition: background-color .5s, color .5s ease-in;
			}

			&:hover {
				background-color: white;
				border: 2px solid $primColor;
				h1 {
					color: $primColor;
					
				}
			}
		}

		.secText{
			font-size: 30px;
			font-style: bold;
			top: -23px;
			position: relative;
			z-index: 2;
			margin: 0;
			margin-bottom: 5px;

		}

		.secOption {
			line-height: 0px;
			position: relative;
			top: -10px;
			border-top: 2px solid $secColor;
			border-bottom: 2px solid $secColor;
			font-size: 22pt;
			color: black;
			text-align: center;
			padding-left: 5px;
			cursor: pointer;
			margin: 0;

			-webkit-transition: background-color .5s, border .5s ease-in,
			color .5s;
			transition: background-color .5s, color .5s, border .5s ease-in;

			&:hover {
				color: $primColor;
				border-top-color: white;
				border-bottom-color: white;
			}
		}
	}

	&.opt-btn-single{
		.button {
			width: 150px;
			height: 150px;
			border-radius: 75px;
			background-color: $primColor;
			margin: 0 auto;
			margin-top: 5px;
			position: relative;
			z-index: 1;
			border: 2px solid white;
			color: white;

			-webkit-transition: background-color .5s, border .5s ease-in,
			color .5s;
			transition: background-color .5s, color .5s, border .5s ease-in;

			cursor: pointer;
			

			p, h1, h2, h3, h4, h5{
				top: 30%;
				transform: rotate(-15deg) skew(-15deg, 0);
				text-align: center;
				margin: 0;
				position: relative;
				border-top: 2px solid black;
				border-bottom: 2px solid black;
				padding: 0;
				font-size: 30pt;
				-webkit-transition: background-color .5s ease-in,
				color .5s;
				transition: background-color .5s, color .5s ease-in;
			}

			&:hover {
				background-color: white;
				border: 2px solid $primColor;
				h1 {
					color: $primColor;	
				}
			}
		}

		.secText{
			font-size: 30px;
			top: -23px;
			position: relative;
			z-index: 2;
			margin: 0;
			margin-bottom: 5px;

		}

		.secOption {
			line-height: 0px;
			position: relative;
			top: -10px;
			border-top: 2px solid $secColor;
			border-bottom: 2px solid $secColor;
			font-size: 30pt;
			//letter-spacing: 10px;
			text-align: center;
			padding-left: 5px;
			cursor: pointer;
			margin: 0;

			-webkit-transition: background-color .5s, border .5s ease-in,
			color .5s;
			transition: background-color .5s, color .5s, border .5s ease-in;

			&:hover {
				color: $primColor;
				border-top-color: white;
				border-bottom-color: white;
			}
		}
	}
}
	