.sidebar {
	height: 600px;
	width: 300px;
	background-color: $secColor;
	padding: 20px;
	margin: 10px;
	content-align: center;

}

@media screen and (max-width:800px) {
	.sidebar {
		width: 25px;
		height: 25px;
		display: none;
	}
}
